@model MvcAppHelloWorld.HighSchoolViewModel

<div>
    <h4>User Details</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lastname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lastname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Birthday_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Birthday_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone_Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.House_Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.House_Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.School_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.School_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Enrollment_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Enrollment_date)
        </dd>

    </dl>
</div>
